<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-09-06T00:42:34Z</date>
	<key>WorkspacePath</key>
	<string>/Users/samuelhan/Desktop/src/us-eventify/event-management-ios/event-management-ios.xcodeproj</string>
</dict>
</plist>
